.button
  display: block
  padding: $button-padding
  color: $button-text-color
  background: $button-loading-background-color
  text-transform: uppercase
  text-align: center
  text-decoration: none
  transition: box-shadow 0.3s, background 0.3s
  .icon,
  .social-icon
    font-size: 0.75em
    margin-right: 5px
  &.loaded
    animation: glow-pulse 2.5s infinite
    box-shadow: 0 0 10px rgba($button-glow-color, 0.5)
    background: $button-background-color
    &:hover
      background: lighten($button-glow-color, 10%)

@keyframes glow-pulse
  0%, 100%
    box-shadow: 0 0 0 rgba($button-glow-color, 0.5)
  50%
    box-shadow: 0 0 20px rgba($button-glow-color, 0.5)