.introduction
  padding-top: $vertical-pacing
  .title
    padding-bottom: $vertical-pacing / 2
    .title-primary
      @extend %type-18pt
      @extend %line-height-24pt
    .title-secondary
      @extend %type-14pt

.footer
  box-sizing: border-box
  position: absolute
  bottom: 20px
  left: 0
  width: 100%
  padding: 0 20px

  a
    transition: color 0.3s
    text-decoration: none
    color: $footer-text-color
    &:hover
      color: $footer-hover-color

  .logo
    @extend %type-18pt
    margin: 0
    float: left 
    .fox
      font-style: italic

  .get-the-song
    float: right
    @extend %type-upcase
    span.icon,
    span.social-icon
      transition: border-right-color 0.3s
      padding-right: 10px
      margin-right: 5px
      border-right: 1px solid #666
      @extend %type-12pt
    &:hover
      span.icon,
      span.social-icon
        border-right-color: #fff

.progress-bar
  position: absolute
  bottom: 0
  left: 0
  width: 0
  height: 5px
  background: $progress-background-color

.lyrics
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  .lyric
    opacity: 0
    position: relative
    width: 100%
    height: 100%
    overflow: hidden
    .image
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-size: cover
      background-position: center center
      background-repeat: none
      opacity: 0.5
    .wrapper
      position: absolute
      left: 0
      bottom: 50%
      width: 100%
      text-align: center
      @extend %type-upcase
    .line
      opacity: 0
      @extend %type-36pt
    .source
      opacity: 0
      @extend %type-12pt
      .source-title
        color: $source-title-text-color
        .icon
          font-size: 0.75em
      .source-link
        transition: background-color 0.3s
        display: inline-block
        background: rgba($source-background-color, 0.3)
        color: $source-text-color
        border-radius: 100px
        padding: 0 5px
        &:hover
          background: $source-background-color
    &.visible
      display: block
      animation: fade-in $duration 0s forwards, fade-back $duration $duration forwards, fade-out $duration $duration * 2 forwards
      .image
        animation: hide-image $duration $duration forwards
      .line
        animation: fade-in 0.5s 0s forwards
      .keyword
        animation: highlight-keyword 0.5s $duration forwards
      .source
        animation: fade-in 0.5s $duration forwards


audio
  position: absolute
  top: 0
  left: 0
  width: 100%