.introduction
  padding-top: $vertical-pacing
  .title
    padding-bottom: $vertical-pacing / 2
    .title-primary
      @extend %type-18pt
      @extend %line-height-24pt
    .title-secondary
      @extend %type-14pt

.footer
  box-sizing: border-box
  position: absolute
  bottom: 20px
  left: 0
  width: 100%
  padding: 0 20px

  a
    transition: color 0.3s
    text-decoration: none
    color: $footer-text-color
    &:hover
      color: $footer-hover-color

  .logo
    @extend %type-18pt
    margin: 0
    float: left 
    .fox
      font-style: italic

  .get-the-song
    float: right
    @extend %type-upcase
    span.icon,
    span.social-icon
      transition: border-right-color 0.3s
      padding-right: 10px
      margin-right: 5px
      border-right: 1px solid #666
      @extend %type-12pt
    &:hover
      span.icon,
      span.social-icon
        border-right-color: #fff

.progress-bar
  position: absolute
  bottom: 0
  left: 0
  width: 0
  height: 5px
  background: $progress-background-color